body { margin-top:1px; }
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.custom-alert{
    position: absolute;
    top: 10px;
    width: 480px;
    text-align: center;
    left: 50%;
    margin-left: -240px;
}
.custom-success{
	position: relative;
    width: 99%;
	text-align: center;
}
.success_msg{
	position: absolute;
    z-index: 10;
    right: 0;
    top: 3px;
}div#example-datatable_length {    display: none;}

.img-circle {
    border-radius: 100%;
    max-width: 55px;
}

#clockdiv {
    text-align: end;
    position: relative;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    font-size: 13px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #clockdiv {
        text-align: center;
    }
  }


#clockdiv > div{
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}
.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

  .loader2 { margin: 40% 0 33% -20%;
position: absolute;
z-index: 9999;
    width: 100%;
    text-align: center;
    top: 0;


}

.loader2  > img {
    margin-top: -50px;
    position: absolute;
    top: 50%;
}
.loader2 {
    margin: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    text-align: center;
    top: 0;
    background: rgba(0,0,0,0.2);
    left: 0;
    height: 100%;
}
.loader2 > img {
    margin-top: -50px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -50px;
}

.footercopyright
{
    line-height: 50px;
    font-weight: 800;
}

@media only screen and (max-width: 768px) {
    .footercopyright {
        line-height: 20px;
    }

    #quizsubmit{
        margin-left: 30%;
      }
  }